body{
    display: block; 
    background: rgb(32, 32, 32);
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Julius Sans One', sans-serif;
}
#wrapper{
    max-width: 68rem;
    display: block;
    margin: 5rem auto;
}
#header{
    display: block;
    text-align: center;
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
#header .menu{
    background: rgb(32, 32, 32);
    position: fixed;
    top: 0; right: 0; left: 0;
    text-align: right;
    width: 100%;
    font-family: 'Julius Sans One', sans-serif;
    color: white;
    font-size: 2rem;
    border-bottom: 1px solid white;
}
#header .menu a{
    color: white;
    text-decoration: none;
}

#header h1{
    /*background-color: rgba(255,255,255,0.05);*/
    color: rgba(255,255,255,0.9);
    font-size: 5rem;
    padding: 2rem;
    margin: 1rem;
    font-family: 'Poiret One', cursive;
}
#header h1 a{
    color: rgba(255,255,255,0.9);;
    text-decoration: none;
}
#header ul{
    font-family: 'Julius Sans One', sans-serif;
    background-color: rgba(255,255,255,0.05);
    margin: 1rem;
    color: rgba(255,255,255,0.5);
}
#header ul.icons li{
    display: inline-block;
    padding-left: 2rem;
    margin: 0.2rem;
}
#header ul.icons li a{
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    font-size: 2rem;
}
#header ul.icons li a:hover{
    color: rgba(255,255,255,0.8);
    font-size: 2.1rem;


}
#main{
    padding: 2rem;
}

#first{
    background-color: rgba(255,255,255,0.1);
    padding: 2rem;
    overflow: hidden;
    color: white;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
#block{
    margin-right: 2rem;
    height: 2rem;
    width: 2rem;
    border: 1px solid black;
    float: left;
    background-color: teal;
}
#frist div{
    float: right;
}

#second{
    background-color: rgba(255,255,255,0.1);
    padding: 2rem;
    overflow: hidden;
    color: white;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
#second #block{
    background-color: royalblue;
    height: 2rem;
}
#second h2{
    font-size: 3rem;
}
b{
    color: orangered;
}
#second p{
    margin-top: 1rem;
    font-size: 1.6rem;
    line-height: 2rem;
}


#third{
    background-color: rgba(255,255,255,0.1);
    padding: 2rem;
    overflow: hidden;
    color: white;
    font-size: 2.5rem;
}
#third #block{
    background-color: royalblue;
    height: 2rem;
}
#third h2{
    font-size: 3rem;
}
#third p{
    margin-top: 1rem;
    font-size: 1.6rem;
    line-height: 2rem;
}


